#app{
     background-color: aqua;
}

#background_header{
     background-color: #009688;
     height: 20vh;
     
}

#background_main{
     background-color: #d8dbd6;
     height: 80vh;
     
}

#main_container{
     position: relative;
     width: 100%;

}

#container_primary{
     position: absolute;
     width: 100%;
}

#container_secondary{
     position: absolute;
     z-index: 1;
     height: 90vh;
     background-color: blue;
     top:5%;
     left: 5%;
     width: 90%;
}

#left_container{
     background-color: blueviolet;
     height: 100%;
}

#right_container{
     background-color: brown;
     height: 100%;
}

#username{
     background-color: #eaeaea;
     height: 10%;
}

#notifications{
     background-color: #8edafc;
     height: 15%;
}

.fa-bell-slash{
     background-color: white;
     color:#8edafc ;
     font-size: 40px;
     padding: 4%;
     text-align: center;
}

#search_chat{
     background-color: #fafafa ;
     height: 10%;

}

#chat_contacts{
     background-color: white;
     height: 65%;

}

.fontAwesome {
     font-family: 'Helvetica', FontAwesome, sans-serif;
}

.list_contact_chat{
     height: calc(100% / 4);
}

.list_contact_chat > img{
     width: 15%;
}






